.container {
    padding: 20px;
  }
  
  .title {
    color: #4580ed
  }
  
  .fieldTitle {
    margin-bottom: 10px;
  }
  
  .input {
    height: 30px;
    border: 1px solid #4580ed;
    border-radius: 5px;
    width: 100%;
  }
  
  .checkbox {
    margin-top: 20px;
  }
  
  .btnSubmit {
    margin-top: 20px;
    height: 40px;
    width: 200px;
    background: #45c3ed;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
  }